body.login {
  //
  .newsociallogins{display: none;}
  .newsociallogins+h3{display: none;}
  #login {
    h1 {
      a{}
    }

    #loginform {
      p {
        label {}
      }
      input {}
      input#user_login {}
      input#user_pass {}
      p.forgetmenot {}
      p.forgetmenot{
        input#rememberme {}
      }
      p.submit {}
      p.submit{
        input#wp-submit {}
      }
    }

    p#nav {
      a{}
    }
    p#backtoblog {
      a {}
    }
  }
}

.login-pagebtn{
  padding-bottom: 10px!important;
    display: block;
}
.widget-pagebtn{
  padding-top: 10px;
    display: block;
}
.login-pagebtn,
.widget-pagebtn{
  a{
    font-weight: 700;
    color:#fff;
    font-size: 14px;
    text-align: center;
    display: block;
    border-radius: 5px;
    padding: 15px 0;
    text-decoration: none;
  }
  a:hover{
    color:#fff;
  }
}
.login-pagebtn-facebook,.widget-pagebtn-facebook{
  a{
    background-color:#3B5998;
  }
}
.login-pagebtn-google,.widget-pagebtn-google{
  a{
    background-color:#db4a39;
  }
}
.login-pagebtn-twitter,.widget-pagebtn-twitter{
  a{
    background-color:#00aced ;
  }
}

